body {
    margin: 0;
}

.main {
    max-width: 1200px;
    min-width: 1000px;
}

.header {
    max-width: 1200px;
    min-width: 1000px;
    min-height: 700px;
    background-image: url(../img/фон.png);
    background-size: auto;
    background-repeat: no-repeat;
}

.header__text {
    padding: 160px 270px 330px 120px;
}

.content {
    padding-left: 80px;
    padding-right: 80px;
}

.content__header {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.cards {
    width: 100%;
}

.cards>div {
    display: inline-block;
}

.content__cards__card {
    width: 330px;
    height: 380px;
    margin-right: 10px;
    background-color: #231B0C;
    overflow: hidden;
}

.content__cards__card__text1 {
    padding: 20px 40px 20px 70px;
}

.content__cards__card__text2 {
    padding: 20px 40px 20px 85px;
}

.content__cards__card__text3 {
    padding: 20px 40px 20px 95px;
}

.content__cards__card__photo {
    margin: 30px 0px 0px 20px;
}

.content__cards__card__photo>img {
    width: 290px;
}

.content__photo {
    margin-top: 40px;
    width: 100%;
}

.content__photo>img {
    max-width: 98%;
}

.footer {
    margin-top: 40px;
    max-width: 1200px;
    height: 280px;
    background-color: #150F02;
}

.footer__nav-menu>ul {
    display: inline-block;
    list-style-type: none;
    padding-right: 335px;
}

.footer__nav-menu {
    padding-left: 210px;
    padding-top: 40px;
}

.footer__contacts {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 10px solid #FF6B00;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.footer__contacts>a {
    text-decoration: none;
    color: #FFFFFF;

}

.footer__media {
    text-align: center;
    margin-top: 20px;
}

.footer__media>a {
    text-decoration: none;
}

.footer__media>img {
    padding-right: 10px;
}