html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    min-width: auto;
    max-width: 100vw;
    background: #212529;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;

}

.header__nav-menu {
    width: 60%;
}

.header__nav-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__nav-menu li {
    list-style-type: none;
    font-size: 1.8rem;

}

.header__nav-menu a {
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}

.header__hire-me-button {
    display: flex;
    justify-content: center;
}

.header__hire-me-button a {
    padding: 1rem 2rem;
    color: #212529;
    background: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 50px;
}

.header__nav-menu a:hover {
    color: #FFB742;
}

.content-greetings {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.content-greetings-name {
    font-size: 3.2rem;
}

.content-greetings-name a {
    color: #FFB742;
}

.content-prof {
    font-size: 4.8rem;
}

.content-greetings2 {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.content-greetings-prof2 {
    font-size: 2.4rem;
    font-weight: 400;
}

.content__photo {
    width: 15%;
    margin: 0 auto;
}

.content__cards {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 14rem auto 22rem auto;
}

.content__cards-card {
    width: 32%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #292B2E;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 3rem 0;
}

.content__cards-card:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.content__cards-card:hover .content__cards-card__text__title,
.content__cards-card:hover .content__cards-card__text__sub-title {
    color: #212529;
}

.content__cards-card__text__title {
    color: #FFB742;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
}

.content__cards-card__text__sub-title {
    color: #FFFFFF;
    font-size: 1.6rem;
}

.content__about {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.content__about_photo {
    width: 45%;
}

.content__about_photo img {
    width: 100%
}

.content__about__description {
    width: 45%;
}

.content__about__description__header-small {
    width: 20%;
    text-align: center;
    padding: .5rem 2.5rem;
    text-transform: uppercase;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.content__about__description__header-big {
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
}

.content__about__description__text {
    margin-bottom: 5.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #D4D4D4;

}

.content__about__description__hire-button a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #212529;
    background: #FFB742;
    padding: 1rem 2.5rem;
    border-radius: 50px;
}

.content__skills {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.content__skills__desription {
    width: 50%;
}

.content__skills__desription__header-small {
    width: 20%;
    padding: .5rem 2.5rem;
    text-transform: uppercase;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.content__skills__desription__header-big {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
}

.content__skills__desription__text {
    margin-top: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.content__skills__description__hire-button {
    padding-top: 6rem;
}

.content__skills__description__hire-button a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #212529;
    background: #FFB742;
    padding: 1rem 2.5rem;
    border-radius: 50px;
}

.content__skills__icons {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.content__skill__icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: .9rem;
    background: #383E45;
    border-radius: 10px;
}

.content__skill__icon:hover {
    border: 1px solid #000000;
    background: rgba(255, 183, 66, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content__works {
    width: 80%;
    margin: 0 auto;

}

.content__works__header-small {
    width: 15%;
    margin: 14rem auto 0rem auto;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.content__works__header-big {
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
}

.content__works__nav-menu {
    width: 80%;
    margin: 0 auto;

}

.content__works__nav-menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 5rem;
}

.content__works__nav-menu li {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #FFFFFF;
    padding: 0.5rem 2rem;
}

.content__works__nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

.content__works__nav-menu a:hover {
    color: #000000;
}

.content__works__nav-menu li:hover {
    background: #FFB742;
    border-radius: 3px;
}

.content__works__items {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.content__works__items img {
    border: 1px solid #000000;
    border-radius: 6px;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.content__feedback {
    width: 100%;
}

.content__feedback__header-small {
    width: 15%;
    margin: 14rem auto 0rem auto;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.content__feedback__header-big {
    margin-bottom: 9rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
}

.content__feedback__items {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25rem;
}

footer {
    width: 100%;
    padding: 12rem 0;
    background: #1C1C1C;
    display: flex;
    justify-content: space-around;
}
.footer__infomation {
    margin-top: 2rem;
}
.footer__information__name {

    color: #FFB742;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.6rem
}

.footer__information__prof {
    color: #D4D4D4;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3.6rem
}

footer ul {
    list-style-type: none;
    line-height: 3.6rem;
}
footer a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B7B7B;
    text-transform: capitalize;
}

footer ul:first-child {
    padding-bottom: 5rem;
    color: #F5FBF2;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
}
.footer__newsletter{
    margin-top: 2.5rem;
}
.footer__newsletter__header {
    color: #F5FBF2;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
}
.footer__newsletter__text {
    color: #7B7B7B;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem
}