:root {
    font-size: 10px;
}

body {
    margin: 0;
}

.main {
    min-width: auto;
    max-width: 100vw;
    background: #F5F5F5
}

.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    background: #243B93;
    padding: 10px 0px 10px 0px;
    z-index: 3;
}

.header__nav-menu {
    width: 60%;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}

.header__nav-menu>li {
    list-style-type: none
}

.header__nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

.header__globus {
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    padding-top: 10px;
}

.header__globus>img {
    width: 25px;
}

.content__header {
    margin: 0;
    padding: 20px 0px 20px 100px;
    background: #BFF0FF;
    color: #202846;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
}

.content__header__menu {
    width: 88%;
    margin: 40px auto;
    position: relative;
    text-align: center;
    background: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
}

.content__header__menu__arrow {
    position: absolute;
    left: 1140px;
    top: 1px
}

.content__card {
    position: relative;
    width: 80%;
    margin: 40px auto;
    padding: 35px 55px 20px 55px;
    display: flex;
    background: linear-gradient(130deg, #ADCBD4, #00AEE5)
}

.content__card:hover {
    background: #2CBDEB;
    box-shadow: 0px 5px 5px #2CBDEB, 5px 0px 5px #2CBDEB, -5px 0px 5px #2CBDEB, 0px 5px 5px #2CBDEB;
}

.content__card:hover .content__card__button {
    background: #EF075B;
}

.content__card:hover .content__card__star {
    display: none;
}

.content__card__text__header {
    color: #353C57;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    border-bottom: 3px solid #FFFFFF
}

.content__card__text__description {
    background: #EDFBFF;
    height: 67%;
    margin-left: 30px;
    padding: 10px;
    color: #202846;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
}

.content__card__star {
    position: absolute;
    left: 1130px;
    top: 15px;
    z-index: 2;
}

.content__card__star-yellow {
    position: absolute;
    left: 1130px;
    top: 15px;
}

.content__card__button {
    position: absolute;
    bottom: 10px;
    left: 1010px;
    width: 210px;
    height: 50px;
    padding-top: 10px;
    background: #243B93;
    border-radius: 30px;
    text-align: center;
}

.content__card__button>a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
}

.content__arrow-top {
    position: fixed;
    bottom: 70px;
    left: 1260px;
    width: 80px;
}

.content__arrow-top img {
    width: 80px
}

.personal-account__header {
    margin: 0;
    padding: 20px 0px 20px 100px;
    background: linear-gradient(130deg, #FFE601, #55D6FF);
    color: #243B93;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
}

.personal-account__card {
    width: 84%;
    margin: 40px auto;
    background: linear-gradient(-200deg, #859EFF, #69FFD280);
    ;
}

.personal-account__card {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.personal-account__card__left {
    margin-right: 100px;
    text-align: center;
}

.personal-account__card__avatar {
    margin-bottom: 20px;
}

.personal-account__card__buttons a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    padding: 10px 40px;
}

.personal-account__card__buttons__change-avatar {
    background: #243B93;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px 10px;
}

.personal-account__card__buttons__settings {
    background: #EF075B;
    border-radius: 30px;
    padding: 10px 10px;
}

.personal-account__card__infomation li {
    list-style-type: none;
    color: #353C57;
    font-family: 'PT Sans', sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    font-style: italic;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 3px;
    margin-bottom: 15px;
}

.personal-account__card__infomation li:nth-last-child(1) {
    border: none;
}

.personal-account__card__infomation span {
    font-weight: 700;
}

.personal-account__sign-out {
    width: 10%;
    margin: 0px auto;
}

.personal-account__sign-out a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: #FFFFFF;
    background: #243B93;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}

.contacts__header {
    margin-top: 60px;
    padding: 20px 0px 20px 100px;
    background: linear-gradient(130deg, #55D6FF, #FFE601);
    color: #243B93;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
}

.contacts__information {
    margin: 0 auto;
    padding: 30px;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.contacts__information-text li {
    list-style-type: none;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
}

.contacts__information-text a {
    text-decoration: none;
    color: #000000;
    border-top: 3px solid #202846;
}

.contacts__information-text span {
    border-top: 3px solid #202846;
}

.contacts__map {
    width: 35%;
    height: 250px;
    margin-left: 20px;
    border: 3px solid #243B93;
    border-radius: 40px;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.footer {
    padding: 20px 0px 20px 100px;
    background: #243B93;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFFFFF;
}