:root {
    font-size: 10px;
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 100vw;
}

.header {
    background: #000000;
    height: 90vh;
}

.header__nav-menu {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.nav-menu__logo>a {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 3.2rem;
    color: #FFFFFF;
}

.nav-menu__items>ul {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
}

.nav-menu__items li>a {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #FFFFFF;
}

.nav-menu__items li>a:hover {
    color: #FFBB00;
}

.header__promo {
    max-width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__info {
    width: 52%;
    padding-top: 7rem;
}

.info__title {
    padding-left: 4rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.info__title>span {
    color: #FFBB00;
}

.info__description {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #B2B2B2;
    margin-bottom: 5rem;
}

.info__button {
    width: 40%;
    text-align: center;
}

.info__button a {
    display: block;
    padding: 2rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #332200;
    background: #F6AD09;
    border-radius: 5px;
}


.header__banner {
    margin-right: -3rem;
    width: 48%;
    height: 85.1vh;
    background: url(../img/header-img.png);
    background-size: cover;
    background-position: bottom;
}

/* screen 2 */
.screen-2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 12rem;
}

.title {
    width: 88%;
    margin: 0 auto;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #111111;
    margin-bottom: 4.4rem;
}

.title>span {
    color: #FFBB00;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 31.5%;
}

.card__img>img {
    max-width: 100%;
}

.card__title {
    position: relative;
    margin-top: 1.5rem;
    padding-left: 3rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #111111;
}

.card__title::before {
    position: absolute;
    top: 1.5rem;
    left: 0;
    content: "";
    display: inline-block;
    width: 22px;
    height: 10px;
    background: #F6AD09;
}

.card__price {
    margin-top: 1rem;
    padding-left: 3.2rem;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #595959;
}

/* screen 3 */
.screen-3 {
    position: relative;
    background: #111111;
    margin-bottom: 9rem;
}

.screen-3__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8rem;
    padding-bottom: 9.5rem;
}

.screen-3__left-side {
    width: 55%;
}

.title-small {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #B2B2B2;
    margin-bottom: 2rem;
}

.title-white {
    color: #FFFFFF;
    margin: 0;
}

.left-side__description {
    margin-top: 4.4rem;
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #B2B2B2;
}

.left-side__select-model {
    margin-top: 3rem;
    border-bottom: solid 1px #FFBB00;
    width: 45%;
}

.left-side__select-model>a {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #FFBB00;
}

.models {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}

.model {
    width: 45%;
}

.model__title {
    position: relative;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #FFFFFF;
}

.model__title::before {
    position: absolute;
    top: 1.3rem;
    left: 0;
    content: "";
    display: inline-block;
    width: 22px;
    height: 10px;
    background: #F6AD09;
}

.model__description {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #B2B2B2;
}

.screen-3__right-side {
    width: 45%;
}

.screen-3__right-side img {
    position: absolute;
    top: -5.5rem;
    width: 56rem;
    height: 105rem;
}

/* screen 4 */
.screen-4 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 11rem;
}

.partners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.partners__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 13rem;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
}

/* screen 5 */
.screen-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-5__left-side {
    width: 49%;
    height: 68rem;
    background: url(../img/depoimento-1.png);
}

.screen-5__right-side {
    width: 51%;
    height: 68rem;
    background: #FFBB00;
}

.screen-5__text {
    position: relative;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #332200;
    margin: 20rem 10rem 2rem 8rem;
}

.screen-5__text::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -4rem;
    width: 40px;
    height: 35px;
    background: url(../img/“-1.svg);
}

.screen-5__text::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: -4rem;
    width: 40px;
    height: 35px;
    background: url(../img/“-1.svg);
    transform: rotate(-180deg);
}

.screen-5__author {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #664400;
    margin-left: 8rem;
}

/* screen 6 */
.screen-6 {
    background: #161616;
}

.screen-6__container {
    padding-top: 7rem;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10rem;


}

.screen-6__container>h2 {
    color: #FFFFFF;
    margin-bottom: 3.6rem;
}

.price {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    gap: 4rem;
}

.price__card-1,
.price__card-2 {
    width: 45%;
    display: flex;
    justify-content: space-between;
    background: #000000;
    border-radius: 7px;
    padding: 3.3rem;
}

.price__card-1 {
    height: 30rem;
    align-self: center;
}

.price__title {
    font-family: var(--font-poppins);
    padding-left: 2rem;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.8rem;
    color: #9C9C9C;
    margin-bottom: 2.8rem;
}

.price__card-1:hover .price__title,
.price__card-2:hover .price__title {
    color: #FFBB00;
}

.price__services li {
    position: relative;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    padding-left: 2.5rem;
    margin-bottom: 1.8rem;
}

.price__services li::before {
    position: absolute;
    top: .7rem;
    left: 0;
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background: #F6AD09;
}

.price__button {
    width: 17rem;
    height: 5rem;
    margin-top: 2.3rem;
    background: #2E2E2E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price__button a {
    display: block;
    padding: 2rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #CCCCCC;
    text-align: center;
}

.price__button:hover {
    background: #F6AD09;
}

.price__amount {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.8rem;
    color: #FFFFFF;
    text-align: right;
}

.price__amount span {
    display: block;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #9C9C9C;
    text-align: right;
}

.footer {
    background: #000000;
    padding-top: 5.6rem;
    padding-bottom: 4.6rem;
}

.footer__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__logo>a {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 3.2rem;
    color: #FFFFFF;
}

.contacts__title,
.information__title {
    margin-bottom: 3rem;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contscts__text a,
.contacts__adres,
.information__menu li>a {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
}

.information__menu li>a:hover {
    color: #FFBB00;
}

.contacts__adres {
    margin: 2rem 0;
}

.footer__links {
    display: flex;
    justify-content: flex-start;
}

.footer__links li {
    margin-right: 2.5rem;
}

.footer__copyright {
    width: 80%;
    margin: 0 auto;
    margin-top: 11rem;
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #9C9C9C;
}