@media screen and (min-width: 1620px) {

    .header,
    .main {
        width: 1620px;
        margin: 0 auto;
    }
}

@media screen and (max-width:992px) {
    .nav__item a {
        font-size: 2.5rem;
    }

    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3.5rem;
    }

    .left-one,
    .left-two,
    .right-two,
    .right-one {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .left-one {
        order: -3;
    }

    .right-one {
        order: -2;
    }

    .left-one img {
        animation: img-show-left 1s linear forwards;
    }

    .right-one img {
        animation: img-show-right 1s linear forwards;
    }

    .screen-2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }

    .services {
        width: 60%;
        min-height: 90vh;
    }

    .card__text {
        font-size: 2.5rem;
    }

    .background {
        height: 90vh;
    }

    .screen-3 h2 {
        font-size: 4rem;
    }

    .team {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .team>div {
        width: 35%;
        height: 80vh;
        margin-bottom: 2.5rem;
    }

    .screen-4 {
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

    }



    .reviews {
        width: 70%;
        margin-bottom: 2rem;
    }

    .reviews__header {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .fieldset {
        height: 25rem;
    }


    .footer__contacts,
    .footer__opening-hours,
    .footer__media {
        font-size: 1.7rem;
    }

    .footer img {
        width: 2.5rem;
    }

    .footer__media-instagramm img,
    .footer__media-twitter img {
        width: 2rem;
        margin-left: -2px;
    }

    .map {
        width: 69%;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:768px) {
    .nav__item a {
        font-size: 2rem;
    }

    .box {
        flex-direction: column;
        margin-top: 2rem;
    }

    .right-one {
        margin-top: 2rem;
    }

    .left-one,
    .left-two,
    .right-two,
    .right-one {
        width: 60%;
    }

    .left-one img {
        animation: img-show-left 1s linear 1 forwards;
    }

    .right-one img {
        animation: img-show-right 1s linear 1s 1 forwards;
    }

    .left-two__img-1>img {
        animation: img-show-left 1s linear 2s 1 forwards;
    }

    .left-two__img-2>img {
        animation: img-show-right 1s linear 3s 1 forwards;
    }

    .right-two__img-1>img {
        animation: img-show-left 1s linear 4s 1 forwards;
    }

    .right-two__img-2>img {
        animation: img-show-right 1s linear 5s 1 forwards;
    }



    .background {
        display: none;
    }

    .services {
        width: 85%;
        margin: 2rem auto 0rem auto;
    }

    .card__text {
        font-size: 2rem;
    }

    .screen-3 h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 4rem;
    }

    .team {
        flex-direction: column;
        align-items: center;
    }

    .team>div {
        width: 30rem;
        height: 75vh;
        margin-bottom: 2rem;
    }

    .team-name {
        font-size: 3rem;
    }

    .screen-4 {
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 2rem;

    }

    .map {
        order: -1;
        width: 60%;
        margin-bottom: 2rem;
    }

    .reviews {
        width: 70%;
    }

    .reviews__header {
        font-size: 3rem;
    }

    .footer {
        margin-top: 2rem;
    }

    .footer__contacts,
    .footer__opening-hours,
    .footer__media {
        font-size: 1.5rem;
    }

    .footer img {
        width: 2rem;
    }

    .footer__media-instagramm img,
    .footer__media-twitter img {
        width: 1.5rem;
        margin-left: -2px;
    }
}