@import url(./animation.css);

:root {
    font-size: 10px;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    margin: 0;
}

header {
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

.my-container {
    padding: 0;
}

.my-nav {
    padding: 0;
}

.my-nav a {
    padding: 0;
}

.navbar-brand img {
    width: 120px;
}

.my-nav-list {
    justify-content: flex-end;
    margin-right: 2rem;
    font-size: 2.8rem;
}

.my-nav-list a {
    margin-right: 1rem;
    margin-left: 1rem;
}

.my-button {
    background: #FFFAFA;
    margin-right: 2rem;
}

/* screen 1 */
.screen-1 {
    min-height: 90vh;
    overflow: hidden;

}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-one,
.left-two,
.right-two,
.right-one {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-two img {
    transform: translateX(-100vw);
    animation: img-show-left 1s linear 1 forwards;
}

.right-two img {
    transform: translateX(100vw);
    animation: img-show-right 1s linear 1 forwards;
}

.left-one img {
    transform: translateX(-100vw);
    animation: img-show-left 2s linear forwards;
}

.right-one img {
    transform: translateX(100vw);
    animation: img-show-right 2s linear forwards;
}

.left-one img,
.right-one img {
    max-height: 42rem;
}


.left-two>div,
.right-two>div {
    margin-top: 2.5rem;
}

.left-one img,
.left-two img,
.right-two img,
.right-one img {
    width: 100%;
    height: 100%;
}

/* screen 2 */
.screen-2 {
    min-height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.services {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

}

.services>div {
    width: 33%;
    text-align: center;
    padding: 2rem 0rem 0rem 6rem;
    position: absolute;
}

.card-1 {
    top: 0;
    left: 0;
    animation: card-1-animation 10s linear infinite;
}

.card-2 {
    top: 0;
    left: 50%;
    animation: card-2-animation 10s linear infinite;
}

.card-3 {
    top: 50%;
    left: 0;
    animation: card-3-animation 10s linear infinite;
}

.card-4 {
    top: 50%;
    left: 50%;
    animation: card-4-animation 10s linear infinite;
}

.card__img img {
    width: 100%;
}

.card__text {
    font-size: 3rem;
}

.background {
    width: 50%;
    max-height: 100%;
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;
}

/* screen 3 */
.screen-3 {
    min-height: 90vh;
}

.screen-3 h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 6rem;
}

.team {
    display: flex;
    justify-content: space-evenly;
}

.team>div {
    width: 20%;
    height: 70vh;
}

.team__card-1,
.team__card-2,
.team__card-3,
.team__card-4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    filter: brightness(.5);
    border-radius: 40px;
    transition: all .5s linear;
}

.team__card-1 {
    background: url(../img/teammate-1.png);
    background-size: cover;
    background-position: center;
}

.team__card-2 {
    background: url(../img/teammate-2.png);
    background-size: cover;
    background-position: center;
}

.team__card-3 {
    background: url(../img/teammate-3.png);
    background-size: cover;
    background-position: center;
}

.team__card-4 {
    background: url(../img/teammate-4.png);
    background-size: cover;
    background-position: center;
}

.team__name {
    display: none;
    height: 25%;
    width: 100%;
    background: rgba(163, 83, 10, 0.7);
    color: #FFFAFA;
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 6.2rem;
    text-align: center;
    border-radius: 0 0 40px 40px
}

.team>div:hover .team__name {
    display: block;
}

.team>div:hover {
    filter: brightness(1);
}

/* screen 4 */
.screen-4 {
    height: 90vh;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reviews {
    width: 50%;
}

.reviews__header {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.fieldset {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #E5E5E5;
    border: none;
}

.form__name,
.form__email {
    width: 40%;
    margin-top: .5rem;
}

.form__message {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.fieldset input[type=text],
.fieldset textarea {
    width: 100%;
    padding: 6px;
    border: none;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(0, 0, 0);
}

.map {
    width: 30%;
    height: 61vh;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

}

.footer ul {
    list-style: none;
}

.footer__contacts a {
    text-decoration: none;
    color: #000000;
}

.footer__contacts,
.footer__opening-hours {
    text-align: center;
}

.footer__contacts,
.footer__opening-hours,
.footer__media {
    font-size: 2.5rem;
    font-weight: 600;
}

.footer__media a {
    text-decoration: none;
    color: #000000;
}

.footer__media-facebook {
    margin-left: -5px;
}