:root {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.left-side {
    width: 40%;

}

.header {
    width: 80%;
    margin: 10rem auto 2rem auto;
    padding-bottom: 2rem;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);

}

.haeder__form-header {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 6.8rem;
    color: #42505C;
}

.header-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #404040;
    opacity: 0.99;
}

.fieldset {
    border: none;
    position: relative;
}

.form__account {
    width: 80%;
    margin: 0 auto;
}

.form__account p {
    margin: 0;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #333333;
}
.form__q-icon {
    position: absolute;
    right: 5.5rem;
    top: 1rem;
}
.form__account input {
    width: 97%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #000000;
    padding: .8rem;
    border: 1px solid #D1D1D1;
}

.form__forgot-password {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    margin-top: 1rem;
}

.form__forgot-password a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #4743E0;
}

.form__log-in {
    width: 80%;
    margin: 2rem auto 0rem auto;
    display: flex;
    justify-content: space-between;
}

.form__log-in-checkbox label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #333333;
}

.form__log-in-button input {
    padding: .7rem 2.5rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    background: #4743E0;
    border: none;
    cursor: pointer;
}

.registration {
    margin-top: 4rem;
    margin-bottom: .5rem;
    text-align: center;
}

.registration__header {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    letter-spacing: 0.25px;
    color: #333333;
    opacity: 0.3;
}
.registration__link a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #4743E0;
}
.right-side {
    width: 60%;
    background: #E5E5E5;
    position: relative;
}

.banner {
    width: 100%;
}

.banner img {
    width: 120%;
    /* max-height: 80%; */
    position: absolute;
    right: 0;
    bottom: 0;
}