:root {
    font-size: 10px;
    font-family: 'Space Grotesk', sans-serif;

}

body {
    padding: 0;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
}

.main {
    width: 100wv;
}

.content {
    width: 80%;
    margin: 5rem auto 0rem auto;
    display: flex;
    justify-content: center;
}

.left-side {
    width: 30%;
    position: relative;
    padding: 10rem 10rem 4rem 10rem;
    background: url(../img/Stroke\ 5.png) no-repeat #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left-side__header {
    position: absolute;
    left: 1rem;
    top: .5rem;
    margin: 0;
    font-weight: 700;
    font-size: 2.4rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-side__form legend {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
}

.left-side__form fieldset {
    width: 100%;
    padding: 1rem;
    border: none;
}

.left-side__form-email,
.left-side__form-phone,
.left-side__form-password,
.left-side__form-location {
    margin-top: 1rem;
}

.left-side__form label {
    font-weight: 400;
    font-size: 1.6rem;
    padding-top: 1rem;
}

.left-side__form input {
    width: 100%;
    font-weight: 400;
    font-size: 1.2rem;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}

.left-side__form-text {
    font-weight: 400;
    font-size: 1rem;
    color: #A8A8A8;
    line-height: 1.6rem;
}

.left-side__form-location span {
    font-weight: 400;
    font-size: 1.2rem;
    color: #A8A8A8;
}

.left-side__form-button {
    margin-top: 6rem;
}

.left-side__form-button input {
    cursor: pointer;
    padding: .5rem;
    color: #FFFFFF;
    background: #284A5E;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}

.left-side__form-user {
    margin-top: 1rem;
    color: #C4C4C4;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
}

.left-side__form-user a {
    color: #476D73;
    font-weight: 700;
    font-size: 1.6rem;
}

.right-side {
    width: 40%;
    position: relative;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
}

.right-side__nav ul {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.right-side__nav li {
    margin-left: 2rem;
}

.right-side__nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.right-side__text {
    margin: 15rem 0rem 0rem 7rem;
}

.right-side__text-description {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6rem;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right-side__text-author {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}