:root {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.left-side {
    width: 60%;
}

.member {
    text-align: right;
    padding-top: 2rem;
    padding-right: 5rem;
}

.member a {
    text-decoration: none;
    color: #4743E0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
}

.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    padding-bottom: 2rem;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.form__header-info {
    width: 40%;
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 6.8rem;
    color: #42505C;
}

.form__text {
    width: 40%;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #404040;
}

.form__text a {
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.fieldset {
    width: 98%;
    border: none;
}

.form-1row,
.form-2row,
.form-3row,
.form__password,
.form__register {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    width: 100%;
}

.form__first-name,
.form__last-name,
.form__company,
.form__email,
.form__employees,
.form__phone,
.form__password-create,
.form__password-confirm {
    width: 45%;
    position: relative;
}
.form__q-icon {
    position: absolute;
    right: .2rem;
    top: .5rem;
}
.fieldset input[type=text],
.fieldset input[type=password],
.fieldset input[type=email],
.fieldset input[type=tel] {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #000000;  
    width: 96%;
    padding: .5rem;
    border: 1px solid #D1D1D1;
}

.fieldset label {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #333333;
}

.fieldset span {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #333333;
    opacity: 0.34;
}

.form_radio_btn {
    display: inline-block;
    margin-right: .6rem;
}

.form_radio_btn input[type=radio] {
    display: none;
}
.form__employees-label {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #333333;
}
.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0rem 1.7rem;
    line-height: 3.4rem;
    border: 1px solid #D1D1D1;
    color: #D1D1D1;

}

.form_radio_btn input[type=radio]:checked+label {
    color: #4743E0;
    border: 1px solid #4743E0;
}

.form_radio_btn label:hover {
    color: #666;
}

.form-3row,
.form__password {
    padding-bottom: 2rem;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.form__register__button input {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    background: #4743E0;
    border: none;
    padding: .5rem 1.5rem;
    cursor: pointer;
}

.form__agree label {
    font-weight: 400;
    font-size: 1.4 rem;
    line-height: 2.8rem;
    letter-spacing: 0.25px;
    color: #404040;
}

.form__agree a {
    font-weight: 700;
    text-decoration: none;
    color: #4743E0;
}

.right-side {
    position: relative;
    width: 40%;
    background: #E5E5E5;
    
}

.right-side img {
    position: absolute;
    width: 150%;
    height: 95%;
    bottom: -.5rem;
    right: -25rem; 
}