body {
    margin: 0;
    width: 1440px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin: 25px 25px;
}
.header-blue {
    color: #3E45E8;
}
.header-yellow {
    color: #E8C23E;
}

.banner {
    background-image: url(../img/Background_banner.png);
    text-align: left;
    padding: 230px 280px 230px 80px;
}
.banner > div {
    display: inline-block;
}
.banner-prapor {
    margin-right: 20px;
}
.prapor-img-vert {
    width: 25px;
    height: 220px;
    
}
.banner-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}
.content{
    padding-top: 50px;
    padding-left: 80px;
}
.content-header-places {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}
.prapor-img-gor {
    margin-top: 5px;
}
.cards {
    padding-top: 40px;
}
.cards > div {
    width: 390px;
    height: 480px;
    border: 5px solid #0D095F;
    display: inline-block;
    border-radius: 10%;
}
.card-1 {
    box-shadow: -16px 21px 40px #0D095F;
    margin-right: 20px;
    
}
.card-2{
    box-shadow: 0px 21px 35px #0D095F;
    margin-right: 20px;
    
}
.card-3 {
    box-shadow: 16px 21px 40px #0D095F;
    
}
.card-1, .card-2, .card-3 {
    overflow: hidden;
}

.card-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;
    color: #0D095F;
}
.card-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 10px;
    color: #FF9900;
}
.map {
    text-align: center;
    margin-top: 50px;
}
.header-map {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 7px solid #1400FF;
}
.map-img {
    margin-top: 40px;
}
.button-go {
    width: 500px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #2A61F0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    border-radius: 50px;
    color: #FFFFFF;
}
.go-href {
    color: #FFFFFF;
    text-decoration: none;
}
.footer {
    text-align: center;
    margin-top: 30px;
    background-color: #0D0661;
    margin-left: 0;
}
.footer-blue {
    text-transform: uppercase;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;
}

.footer-yellow {
    text-transform: uppercase;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #DFE31E;
}

.info-href {
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    font-weight: 400;
    color: #A89D9D;
     text-decoration: none;
}
.media > div {
    display: inline-block;
    padding: 0px 10px 0px 10px
}