:root {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background: #FFB084;
    margin: 3.2rem auto;
    max-width: 70%;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    border-radius: 2rem; 
}

.container>div {
    border-radius: 20px;
    background: #ffffff;
    font-size: 1.6rem;
    padding: 1.5rem;
}

div span {
    font-weight: 700;
}

h1, h2, ul {
    margin: 0;
    margin-bottom: 2rem;
}

.information {
    grid-row: 1/4;
    box-shadow: 7px 7px 0px #000000;
}
.infomation__photo {
    text-align: center;
}

.infomation__photo img {
    width: 45%;
}

.bio {
    grid-column: 2/4;
    box-shadow: 7px 7px 0px #000000;
}

.goals {
    box-shadow: 7px 7px 0px #29A71E;
}

.goals h2 {
    color: #29A71E;
}

.frustrations {
    grid-row: 4/2;
    grid-column: 3/3;
    box-shadow: 7px 7px 0px #E13535;
}

.frustrations h2 {
    color: #E13535;
}

.companies {
    grid-row: 3/5;
    box-shadow: 7px 7px 0px #3675B0;
}
.companies h2 {
    color: #3675B0;
}
.quote {
    text-align: center;
    box-shadow: 7px 7px 0px #000000;
}
.quote__text {
    margin-top: 1.5rem;
}
.personality {
    box-shadow: 7px 7px 0px #000000;
}